#root {
  width: 100%;
  height: 100%;
  background-color: transparent;

  #background {
    width: 100%;
    height: 100%;

    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center; //背景图片居中显示，让多余部分相对容器对此展示
    background-origin: border-box; //从border开始填充
    background-clip: border-box;
    background-size: cover;
    position: fixed;
  }

  .layout {
    width: 80%;
    height: 100%;

    display: flex;

    flex-direction: column;

    justify-items: center;

    justify-content: space-around;

    margin: 0 auto;

    background-color: transparent;

    @media (max-width: 1440px) {
      width: 90%;
    }

    @media (max-width: 1280px) {
      width: 95%;
    }

    @media (max-width: 1000px) {
      width: 80%;
      height: auto;
    }

    @media (max-width: 650px) {
      width: 100%;
      height: auto;
    }

    .card-wrapper {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 45%;


      @media (max-width: 1000px) {
        width: 80%;
      }
    }

    .pannel-card{
      width: 100%;
      min-width: 300px;
      margin: 24px auto;
      height: auto;
      background: rgba(255, 255, 255, 0.86);
      backdrop-filter: blur(8px);

      @media(max-width: 1200px) {
        margin: 12px auto;
      }

      @media(max-width: 1000px) {
        margin: 24px auto;
      }

      @media(max-width: 650px) {
        margin: 12px auto;
      }

      .search-pannel {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 6px;
        height: auto;

        .author {
          align-self: flex-start;
          display: inline-flex;
          align-items: center;
          justify-content: flex-start;

          .place {
            flex-shrink: 0;
            font-size: 0.95rem;
            height: 65%;
          }

          .date {
            font-size: 0.75rem;
            color: gray;
            height: 45%;
          }
        }

        .search-source {
          width: 90px;

          @media (max-width: 650px) {
            width: 80px;
          }
        }

        .search-input {
          width: calc(~"100% - 90px - 32px");

          @media (max-width: 650px) {
            width: calc(~"100% - 80px - 32px");
          }
        }
      }


      .tag-pannel {
        width: 100%;
        display: flex;
        padding: 6px;
        flex-direction: column;
        align-items: center;


        .list {
          width: 100%;
          font-size: 1.0rem;

          .list-item {
            width: 100%;
            padding: 8px 16px;

            .tag-item {
              font-size: 1rem;
              @media (max-width: 1366px) {
                font-size: 0.8rem;
              }

              @media (max-width: 1000px) {
                font-size: 0.8rem;
              }
            }
          }
        }
      }

      .datetime-pannel {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 6px;
        height: auto;

        .time-text{
          font-size: 5rem;
          color: black;
          text-align: center;
          margin-bottom: 16px;

          @media (max-width: 1280px) {
            font-size: 4rem;
            color: black;
            text-align: center;
            margin-bottom: 0;
          }

          @media (max-width: 1000px) {
            font-size: 5rem;
            color: black;
            text-align: center;
            margin-bottom: 16px;
          }

          @media (max-width: 650px) {
            font-size: 4rem;
            color: black;
            text-align: center;
            margin-bottom: 16px;
          }
        }


        .weather-list {
          align-self: center;
          width: 100%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;


          .weather-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            width: 23%;
            min-width: 90px;

            font-size: 0.9rem;
          }
        }
      }

      .todo-pannel {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding: 6px;
        height: auto;

        .time-line{
          margin-left: 32px;
          margin-top: 8px;

          @media (max-width: 1280px) {
            margin-left: 0;
            margin-top: 8px;
          }

          @media (max-width: 1000px) {
            margin-left: 32px;
            margin-top: 8px;
          }

          @media (max-width: 650px) {
            margin-left: 0;
            margin-top: 8px;
          }
        }
      }

      .food-pannel {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 6px;
        height: auto;
      }
    }


    .layout-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      max-height: 100%;
      height: auto;
      padding-top: 24px;
      padding-bottom: 24px;
      flex-wrap: wrap;
      margin: auto 0;

      @media (max-width: 1366px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-height: 100%;
        height: auto;
        padding-bottom: 12px;
        flex-wrap: wrap;
        padding-top: 12px;
        margin: auto 0;
      }

      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        flex-wrap: nowrap;
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }

    .background-icon {
      position: fixed;
      right: 50px;
      bottom: 150px;

      @media (max-width: 650px) {
        position: fixed;
        right: 10px;
        bottom: 100px;
      }
    }

    .config-icon {
      position: fixed;
      right: 50px;
      bottom: 100px;

      @media (max-width: 650px) {
        position: fixed;
        right: 10px;
        bottom: 50px;
      }

    }

    .card-icon {
      position: fixed;
      right: 50px;
      bottom: 200px;

      @media (max-width: 650px) {
        position: fixed;
        right: 10px;
        bottom: 150px;
      }
    }
  }
}